__pycache__
config
data

# venv
/bin
/venv
/include
/lib
/lib64
/pyvenv.cfg
/share
/Scripts
/app/roms
/ProdKeys

# pyenv
.python-version

# Local docker compose overrides
docker-compose.dev.local.yml
docker-compose.local.yml