version: "3"

services:
  ownfoil:
    container_name: ownfoil
    build: 
      context: .
      dockerfile: Dockerfile
    environment:
      # For write permission in config directory
      - PUID=1000
      - PGID=1000
      # to create/update an admin user at startup
      - USER_ADMIN_NAME=admin
      - USER_ADMIN_PASSWORD=admin
      # to create/update a regular user at startup
      # - USER_GUEST_NAME=guest
      # - USER_GUEST_PASSWORD=oerze!@8981
    volumes:
      - /Users/sergio/Downloads/games:/games
      - ./config:/app/config
      - ./data:/app/data
      - ./app:/app
      - ./docker/run.sh:/app/run.sh
    ports:
      - "8465:8465"