flask==3.1.3
gunicorn==26.0.0
Flask-Login==0.6.3
Flask-Migrate==4.1.0
flask-sqlalchemy==3.1.1
git+https://github.com/nicoboss/nsz.git@9b14b37af2b08e43a1f6c715a514969f221dac6d
PyYAML==6.0.3
requests==2.34.2
setproctitle==1.3.7
unzip_http==0.7
watchdog==6.0.0
Werkzeug==3.1.8
zstandard==0.25.0