root_dir = "/games"

[shop]
# Scan interval, in minutes
scan_interval = 5

# Files with these extensions will be added to the shop
valid_ext = [
    'nsp',
    'nsz',
    'xci',
    'zip'
]

template = "shop_template.toml"

[saves]
# Enable or disable automatic saves backup
enabled = true

# Interval to retrieve saves, in minutes.
interval = 60

# Switches configuration for save retrieval.
# If user and pass are not specified, use anonymous connection
# Alex's Switch
[[saves.switches]]
host = "192.168.1.200"
port = "5000"
folders = [
    {local = "Saves/Tinfoil", remote = "/switch/tinfoil/saves/common"},
    {local = "Saves/JKSV", remote = "/JKSV"}
]

# Another Switch
# [[saves.switches]]
# host = "192.168.1.150"
# port = "5002"
# user = "username"
# pass = "password"
# folders = [
#     {"local": "Saves/Mac/Tinfoil", "remote": "/switch/tinfoil/saves/common"},
# ]