{% extends "base.html" %}


{% block content %}
{% include 'nav.html' %}
<div id="content" class="container-fluid mt-3">

    <div class="row gy-2 gx-3 align-items-center justify-content-md-center">

        <div class="col-auto">
            <div class="btn-group dropdown-center" role="group">
                <button type="button" class="btn btn-primary"><i class="bi bi-funnel-fill"></i></button>
                <div class="btn-group" role="group">
                    <button id="filterDropdownBtn" type="button" class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        Filters
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <label class="form-check-label dropdown-item" for="filterCheckBase">
                                <input class="form-check-input" type="checkbox" value="" id="filterCheckBase">
                                BASE
                            </label>
                        </li>
                        <li>
                            <label class="form-check-label dropdown-item" for="filterCheckDlc">
                                <input class="form-check-input" type="checkbox" value="" id="filterCheckDlc">
                                DLC
                            </label>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <label class="form-check-label dropdown-item" for="filterCheckUpToDate">
                                <input class="form-check-input" type="checkbox" value="" id="filterCheckUpToDate">
                                Up to date
                            </label>
                        </li>
                        <li>
                            <label class="form-check-label dropdown-item" for="filterCheckMissingUpdate">
                                <input class="form-check-input" type="checkbox" value="" id="filterCheckMissingUpdate">
                                Missing Update
                            </label>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <label class="form-check-label dropdown-item" for="filterCheckComplete">
                                <input class="form-check-input" type="checkbox" value="" id="filterCheckComplete">
                                Complete
                            </label>
                        </li>
                        <li>
                            <label class="form-check-label dropdown-item" for="filterCheckMissingDlc">
                                <input class="form-check-input" type="checkbox" value="" id="filterCheckMissingDlc">
                                Missing DLC
                            </label>
                        </li>
                        <!-- <li>
                        <hr class="dropdown-divider">
                    </li> -->
                        <div class="text-center m-2">
                            <button id="btnApplyFilters" type="button" class="btn btn-primary" style="width: 85%;">Apply
                                filters</button>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-auto">
            <input type="text" id="textFilter" class="form-control" id="autoSizingInput" placeholder="Search titles...">
        </div>
        <div class="col-auto">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary active"><i class="bi bi-card-heading"></i></button>
                <button type="button" class="btn btn-primary"><i class="bi bi-grid-fill"></i></button>
                <button type="button" class="btn btn-primary"><i class="bi bi-list-ul"></i></button>
            </div>
        </div>
    </div>

    <div class="grid-container" id="gridContainer">
        <!-- Add more game cards here -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for game in games %}
            <div class="col game-col">
                <div class="card text-bg-dark game-card">
                    <img src="{{ game.bannerUrl }}" class="card-img">
                    <div class="card-img-overlay game-info">
                        {% if game.title_id_name is defined %}
                        <h5 class="card-title game-title">{{ game.title_id_name }}</h5>
                        {% else %}
                        <h5 class="card-title game-title">{{ game.name }}</h5>
                        {% endif %}
                        <p class="card-text game-description">
                            {% if 'DLC' == game.type %}
                            <small>
                                {{ game.name }} |
                            </small>
                            {% endif %}
                            <small>
                                {{ game.id }}
                            </small>
                        </p>
                        <div class="tags-container">
                            <!-- App type -->
                            <span class="badge rounded-pill text-bg-info game-tag" data-bs-tag="{{ game.type }}">{{
                                game.type }}</span>
                            <!-- version up to date or outdated -->
                            {% if game.has_latest_version is defined %}
                            {% if game.has_latest_version %}
                            <span class="badge rounded-pill text-bg-success game-tag" data-bs-tag="Up to date"><i
                                    class="bi bi-box-seam-fill"></i></span>
                            {% else %}
                            <span class="badge rounded-pill text-bg-warning game-tag" data-bs-tag="Outdated"><i
                                    class="bi bi-box-seam-fill"></i></span>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

<script>
    // Example data structure from API response
    $(document).ready(function () {

        // Function to filter cards based on input text
        function filterByCardText(attributeText) {
            const gameCards = $(".game-card");
            const lowerCaseAttributeText = attributeText.toLowerCase();

            gameCards.each(function () {
                const card = $(this);
                const gameTitle = card.find(".game-title").text().toLowerCase();
                const gameDescription = card.find(".game-description").text().toLowerCase();

                if ((gameTitle.includes(lowerCaseAttributeText) || gameDescription.includes(lowerCaseAttributeText))) {
                    card.parent().removeAttr('filtered-text');
                    if ((card.parent().attr('filtered-tag') != 'set') ){
                        card.parent().removeClass('d-none'); // Show matching card
                    }
                } else {
                    card.parent().addClass('d-none'); // Hide non-matching card
                    card.parent().attr('filtered-text', 'set');
                }                
            });
        }

        // Listen to input changes in the text filter input
        $("#textFilter").on("input", function () {
            const attributeText = $(this).val();
            filterByCardText(attributeText);
        });

        // Set to store active filters
        const activeTypeFilters = new Set();
        const activeUpdateFilters = new Set();
        const activeCompletionFilters = new Set();

        function updateFilter() {
            // $('#filterDropdownBtn').toggle();
            if ($('#filterCheckBase').is(":checked")) {
                activeTypeFilters.add('BASE');
            } else {
                activeTypeFilters.delete('BASE');
            }
            if ($('#filterCheckDlc').is(":checked")) {
                activeTypeFilters.add('DLC');
            } else {
                activeTypeFilters.delete('DLC');
            }
            if ($('#filterCheckUpToDate').is(":checked")) {
                activeUpdateFilters.add('Up to date');
            }
            else {
                activeUpdateFilters.delete('Up to date');
            }
            if ($('#filterCheckMissingUpdate').is(":checked")) {
                activeUpdateFilters.add('Outdated');
            }
            else {
                activeUpdateFilters.delete('Outdated');
            }
            if ($('#filterCheckComplete').is(":checked")) {
                activeCompletionFilters.add('Complete');
            }
            else {
                activeCompletionFilters.delete('Complete');
            }
            if ($('#filterCheckMissingDlc').is(":checked")) {
                activeCompletionFilters.add('Missing DLC');
            }
            else {
                activeCompletionFilters.delete('Missing DLC');
            }
        }

        // Function to apply filters and show/hide game cards with animation
        function applyFilters() {
            const gameCards = $(".game-card");
            gameCards.each(function () {
                const card = $(this);
                const tagsContainer = card.find('.tags-container');
                const tags = tagsContainer.find('.game-tag');
                cardTagsText = [];
                tags.each(function () {
                    const tt = $(this);
                    cardTagsText.push(tt.attr('data-bs-tag'));
                })

                if ((activeTypeFilters.size === 0 || Array.from(activeTypeFilters).some(tag => cardTagsText.includes(tag))) &&
                    (activeUpdateFilters.size === 0 || Array.from(activeUpdateFilters).some(tag => cardTagsText.includes(tag))) &&
                    (activeCompletionFilters.size === 0 || Array.from(activeUpdateFilters).some(tag => cardTagsText.includes(tag)))) {
                    card.parent().removeAttr('filtered-tag');
                    if ((card.parent().attr('filtered-text') != 'set') ){
                        card.parent().removeClass('d-none');
                    }
                } else {
                    card.parent().addClass('d-none');
                    card.parent().attr('filtered-tag', 'set');
                }
            });

        }

        $('#btnApplyFilters').on('click', function() {
            updateFilter();
            applyFilters();
        });

    })


</script>
{% endblock %}