{% extends "base.html" %}


{% block content %}
{% include 'nav.html' %}
<div id="content" class="container-fluid mt-3">

    <div class="row gy-2 gx-3 align-items-center justify-content-md-center">

        <div class="col-auto">
            <div class="btn-group dropdown-center" role="group">
                <div class="btn-group" role="group">
                    <button id="filterDropdownBtn" type="button" class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        <i class="bi bi-funnel-fill"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <label class="form-check-label dropdown-item" for="filterCheckBase">
                                <input class="form-check-input filterLabel" type="checkbox" value="" id="filterCheckBase">
                                BASE
                            </label>
                        </li>
                        <li>
                            <label class="form-check-label dropdown-item" for="filterCheckDlc">
                                <input class="form-check-input filterLabel" type="checkbox" value="" id="filterCheckDlc">
                                DLC
                            </label>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <label class="form-check-label dropdown-item" for="filterCheckUpToDate">
                                <input class="form-check-input filterLabel" type="checkbox" value="" id="filterCheckUpToDate">
                                Up to date
                            </label>
                        </li>
                        <li>
                            <label class="form-check-label dropdown-item" for="filterCheckMissingUpdate">
                                <input class="form-check-input filterLabel" type="checkbox" value="" id="filterCheckMissingUpdate">
                                Missing Update
                            </label>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <label class="form-check-label dropdown-item" for="filterCheckComplete">
                                <input class="form-check-input filterLabel" type="checkbox" value="" id="filterCheckComplete">
                                Complete
                            </label>
                        </li>
                        <li>
                            <label class="form-check-label dropdown-item" for="filterCheckMissingDlc">
                                <input class="form-check-input filterLabel" type="checkbox" value="" id="filterCheckMissingDlc">
                                Missing DLC
                            </label>
                        </li>
                        <!-- <div class="text-center m-2">
                            <button id="btnApplyFilters" type="button" class="btn btn-primary" style="width: 85%;">Apply
                                filters</button>
                        </div> -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-auto">
            <input type="text" id="textFilter" class="form-control" placeholder="Search titles...">
        </div>
        <div class="col-auto">
            <div class="btn-group" role="group">
                <button id="view-toggle-btn-card" type="button" class="btn btn-primary view-toggle-btn active" data-view="card"><i
                        class="bi bi-card-heading"></i></button>
                <button id="view-toggle-btn-icon" type="button" class="btn btn-primary view-toggle-btn" data-view="icon"><i
                        class="bi bi-grid-fill"></i></button>
                <button id="view-toggle-btn-list" type="button" class="btn btn-primary view-toggle-btn" data-view="list" disabled=""><i
                        class="bi bi-list-ul"></i></button>
            </div>
        </div>
        <div class="col-auto">
            <div class="btn-group dropdown-center" role="group">
                <button id="itemsPerPageDropdownBtn" type="button" class="btn btn-primary dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Items per page
                </button>
                <ul class="dropdown-menu" aria-labelledby="itemsPerPageDropdownBtn">
                    <li><button class="dropdown-item items-per-page" data-value="9">9</button></li>
                    <li><button class="dropdown-item items-per-page" data-value="12">12</button></li>
                    <li><button class="dropdown-item items-per-page" data-value="18">18</button></li>
                    <li><button class="dropdown-item items-per-page" data-value="27">27</button></li>
                    <li>
                        <div class="dropdown-item">
                            <input type="number" id="customItemsPerPage" class="form-control" placeholder="Custom">
                            <button id="applyCustomItemsPerPage" class="btn btn-primary mt-2">Apply</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Card size slider -->
        <div class="col-auto">
            <!-- <label for="cardSizeRange" class="form-label">Card Size</label> -->
            <input type="range" class="form-range" min="1" max="5" step="1" id="cardSizeRange">
        </div>
    </div>
    <div class="grid-container" id="gridContainer">
        <div class="row g-4" id="gameGrid"></div>
        <!-- <div class="row row-cols-1 row-cols-md-3 g-4" id="gameGrid"></div> -->
    </div>

    <!-- Pagination controls -->
    <nav aria-label="Page navigation" class="mt-3">
        <ul class="pagination justify-content-center" id="paginationControls"></ul>
    </nav>
</div>

<script>
    let games;
    let filteredGames;
    let itemsPerPage = 12;
    let currentPage = 1;
    let totalGames = 0;
    let cardSize = 3; // Default card size
    let currentView = 'card'; // Default view is 'card'

    function fetchGames() {
        return new Promise((resolve, reject) => {
            $.get(`/api/titles`, function (data) {
                totalGames = data.total;
                games = data.games;
                filteredGames = games;
                resolve();
            }).fail(function() {
                reject();
            });
        });
    }

    function renderGames() {
        if (currentView === 'card') {
            renderCardView();
            adjustCardSizes();
        } else if (currentView === 'icon') {
            renderIconView();
            adjustIconSizes();
        }

        // Set slider to show 3 columns by default
        $('#cardSizeRange').val(3);
    }

    function renderCardView() {
        // Render card view logic...
        const gameGrid = $('#gameGrid');
        gameGrid.empty(); // Clear existing games

        // Get games for the current page
        start = (currentPage - 1) * itemsPerPage
        end = start + itemsPerPage
        paginatedGames = filteredGames.slice(start, end);

        paginatedGames.forEach(function (game) {
            const gameCol = $('<div class="col game-col"></div>').addClass(`col-${12 / getColumnsForCardSize(cardSize)}`);

            const card = $('<div class="card text-bg-dark game-card"></div>');

            const img = $('<img class="card-img"></img>').attr('src', game.bannerUrl);
            card.append(img);

            const cardOverlay = $('<div class="card-img-overlay game-info"></div>');

            const title = $('<h5 class="card-title game-title"></h5>').text(game.title_id_name || game.name);
            cardOverlay.append(title);

            const description = $('<p class="card-text game-description"></p>');
            if (game.type === 'DLC') {
                const small = $('<small></small>').text(`${game.name} | `);
                description.append(small);
            }
            const small = $('<small></small>').text(game.id);
            description.append(small);
            cardOverlay.append(description);

            const tagsContainer = $('<div class="tags-container"></div>');

            const typeBadge = $('<span class="badge rounded-pill text-bg-info game-tag"></span>').text(game.type);
            tagsContainer.append(typeBadge);

            if (game.has_latest_version !== undefined) {
                const versionBadge = $('<span class="badge rounded-pill game-tag"></span>').addClass(`text-bg-${game.has_latest_version ? 'success' : 'warning'}`).html(`<i class="bi ${game.has_latest_version ? 'bi-check-circle-fill' : 'bi-arrow-down-circle'}"></i>`);
                tagsContainer.append(versionBadge);
            }

            if (game.has_all_dlcs !== undefined) {
                const dlcBadge = $('<span class="badge rounded-pill game-tag"></span>').addClass(`text-bg-${game.has_all_dlcs ? 'success' : 'warning'}`).html('<i class="bi bi-box-seam-fill"></i>');
                tagsContainer.append(dlcBadge);
            }

            cardOverlay.append(tagsContainer);
            card.append(cardOverlay);
            gameCol.append(card);
            gameGrid.append(gameCol);
        });
        // Update pagination
        updatePaginationControls(filteredGames.length)

    }

    function renderIconView() {
        // Render icon view logic...
        const gameGrid = $('#gameGrid');
        gameGrid.empty(); // Clear existing games
        // Get games for the current page
        start = (currentPage - 1) * itemsPerPage
        end = start + itemsPerPage
        baseGames = filteredGames.filter(game => game.type === 'BASE');
        paginatedGames = baseGames.slice(start, end);

        paginatedGames.forEach(game => {
            const icon = $('<img class="game-icon">').attr('src', game.iconUrl);
            gameGrid.append(icon);
        });

        // Adjust icon sizes based on the slider value
        adjustIconSizes(cardSize);
        // Update pagination
        updatePaginationControls(baseGames.length)
    }

    function getColumnsForCardSize(size) {
        switch (size) {
            case 1: return 1; // 2 columns
            case 2: return 2; // 3 columns
            case 3: return 3; // 4 columns
            case 4: return 4; // 6 columns
            case 5: return 6; // 8 columns
            default: return 4; // default to 3 columns
        }
    }

    function updatePaginationControls(nbDisplayedGames) {
        const paginationControls = $('#paginationControls');
        paginationControls.empty(); // Clear existing pagination

        const totalPages = Math.ceil(nbDisplayedGames / itemsPerPage);

        // Previous button
        const prevButton = $('<li class="page-item"></li>').addClass(`page-item ${currentPage === 1 ? 'disabled' : ''}`).html(`
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>`);
        prevButton.click(function (e) {
            e.preventDefault();
            if (currentPage > 1) {
                currentPage--;
                renderGames();
            }
        });
        paginationControls.append(prevButton);

        // Page numbers
        for (let i = 1; i <= totalPages; i++) {
            const pageButton = $('<li class="page-item"></li>').addClass(`page-item ${i === currentPage ? 'active' : ''}`).html(`<a class="page-link" href="#">${i}</a>`);
            pageButton.click(function (e) {
                e.preventDefault();
                currentPage = i;
                renderGames();
            });
            paginationControls.append(pageButton);
        }

        // Next button
        const nextButton = $('<li class="page-item"></li>').addClass(`page-item ${currentPage === totalPages ? 'disabled' : ''}`).html(`
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>`);
        nextButton.click(function (e) {
            e.preventDefault();
            if (currentPage < totalPages) {
                currentPage++;
                renderGames();
            }
        });
        paginationControls.append(nextButton);
    }

    function adjustCardSizes() {
        const gameGrid = $('#gameGrid');
        const gameCols = gameGrid.find('.game-col');
        gameCols.each(function () {
            $(this).removeClass().addClass(`col game-col col-${12 / getColumnsForCardSize(cardSize)}`);
        });
    }

    function adjustIconSizes() {
            // Calculate the size of the icons based on the slider value
            const iconSize = 100 / (cardSize + 3); // Assuming 100 is the maximum size

            // Update the CSS of the game icons
            $('.game-icon').css('width', `${iconSize}%`);
        }

    $(document).ready(function () {
        // Fetch initial set of games and render
        fetchGames().then(() => {
            renderGames();
        });

        // Event listeners for items per page dropdown
        $('.items-per-page').click(function () {
            itemsPerPage = $(this).data('value');
            currentPage = 1; // Reset to first page
            renderGames();
        });

        $('#applyCustomItemsPerPage').click(function () {
            const customValue = $('#customItemsPerPage').val();
            if (customValue && customValue > 0) {
                itemsPerPage = parseInt(customValue);
                currentPage = 1; // Reset to first page
                renderGames();
            }
        });

        // Event listener for card size slider
        $('#cardSizeRange').on('input', function () {
            cardSize = parseInt($(this).val());
            if (currentView === 'icon') {
                adjustIconSizes(cardSize);
            } else {
                adjustCardSizes(cardSize);
            }
        });

        // Event listener for view buttons
        $('.view-toggle-btn').click(function () {
            $('.view-toggle-btn').removeClass("active"); 
            $(this).addClass("active");
            const view = $(this).data('view');
            if (view === 'card') {
                currentView = 'card';
            } else if (view === 'icon') {
                currentView = 'icon';
            }
            renderGames(games);
        });
        
        // Handle filter checkbox
        $('.filterLabel').prop('checked', false);
        $('.filterLabel').click(function() {
            updateFilter();
            applyFilters();
        });
    
    });

    // Function to filter cards based on input text
    function filterBySearchText(attributeText) {
        if (!attributeText) {
            filteredGames = games;
        } else {
            searchText = attributeText.toLowerCase();

            filteredGames = games.filter(game =>
                game.title_id_name?.toLowerCase().includes(searchText)
                || game.name?.toLowerCase().includes(searchText)
                || game.title_id?.toLowerCase().includes(searchText)
                || game.title_id?.toLowerCase().includes(searchText)
                || game.app_id?.toLowerCase().includes(searchText)
            )
        }

        currentPage = 1;
        renderGames();
    }

    // Listen to input changes in the text filter input
    $("#textFilter").on("input", function () {
        const attributeText = $(this).val();
        filterBySearchText(attributeText);
    });

    // Set to store active filters
    const activeTypeFilters = new Set();
    const activeUpdateFilters = new Set();
    const activeCompletionFilters = new Set();

    function updateFilter() {
        // $('#filterDropdownBtn').toggle();
        if ($('#filterCheckBase').is(":checked")) {
            activeTypeFilters.add('BASE');
        } else {
            activeTypeFilters.delete('BASE');
        }
        if ($('#filterCheckDlc').is(":checked")) {
            activeTypeFilters.add('DLC');
        } else {
            activeTypeFilters.delete('DLC');
        }
        if ($('#filterCheckUpToDate').is(":checked")) {
            activeUpdateFilters.add('Up to date');
        }
        else {
            activeUpdateFilters.delete('Up to date');
        }
        if ($('#filterCheckMissingUpdate').is(":checked")) {
            activeUpdateFilters.add('Outdated');
        }
        else {
            activeUpdateFilters.delete('Outdated');
        }
        if ($('#filterCheckComplete').is(":checked")) {
            activeCompletionFilters.add('Complete');
        }
        else {
            activeCompletionFilters.delete('Complete');
        }
        if ($('#filterCheckMissingDlc').is(":checked")) {
            activeCompletionFilters.add('Missing DLC');
        }
        else {
            activeCompletionFilters.delete('Missing DLC');
        }
    }

    function findCommonElements(...arrays) {
        // Filter out empty arrays
        const nonEmptyArrays = arrays.filter(array => array.length > 0);

        // If there are no non-empty arrays, return an empty array
        if (nonEmptyArrays.length === 0) {
            return [];
        }

        // Find common elements
        return nonEmptyArrays.reduce((common, currentArray) => 
            common.filter(item => currentArray.includes(item))
        );
    }

    // Function to apply filters and show/hide game cards with animation
    function applyFilters() {

        if (activeTypeFilters.size === 0 && activeUpdateFilters.size === 0 && activeCompletionFilters.size === 0) {
            filteredGames = games;
        } else {
            gamesFilteredByType = []
            gamesFilteredByUpdate = []
            gamesFilteredByCompletion = []

            console.log(activeTypeFilters);
            if (activeTypeFilters.size > 0) {
                filteredGames = [];
                for (let type of activeTypeFilters) {
                    console.log(type); // Logs "BASE" and "DLC"
                    gamesFilteredByType = gamesFilteredByType.concat(games.filter(game => game.type === type));
                }
            }

            console.log(activeUpdateFilters);
            if (activeUpdateFilters.has("Up to date")) {
                gamesFilteredByUpdate = gamesFilteredByUpdate.concat(games.filter(game => game.has_latest_version === true));
            }
            if (activeUpdateFilters.has("Outdated")) {
                gamesFilteredByUpdate = gamesFilteredByUpdate.concat(games.filter(game => game.has_latest_version === false));
            }
            
            console.log(activeCompletionFilters);
            if (activeCompletionFilters.has("Complete")) {
                gamesFilteredByCompletion = gamesFilteredByCompletion.concat(games.filter(game => game.has_all_dlcs === true));
            }
            if (activeCompletionFilters.has("Missing DLC")) {
                gamesFilteredByCompletion = gamesFilteredByCompletion.concat(games.filter(game => game.has_all_dlcs === false));
            }

            // Find common elements
            filteredGames = findCommonElements(games, gamesFilteredByType, gamesFilteredByUpdate, gamesFilteredByCompletion);
        }

        currentPage = 1;
        renderGames();

    }

    // $('#btnApplyFilters').on('click', function () {
    //     updateFilter();
    //     applyFilters();
    // });


</script>
{% endblock %}