{% extends "base.html" %}
{% block content %}
{% include 'nav.html' %}

<div class="container-fluid setting-body">
    <div class="row">
        <div class="col">
            <div class="settings-container container mt-3">

                <!-- <h1>Settings</h1> -->

                {% if admin_account_created == false %}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Missing admin account!</h4>
                    <p>Ownfoil requires an admin account to enable authentication. Until an account with admin rights is
                        created, <strong>authentication is disabled, anyone can access and change the configuration of
                            your shop!</strong>
                        <br>
                        Add an admin account <a href="/settings#Authentication" class="alert-link">here under
                            Authentication</a>.
                    </p>
                </div>
                {% endif %}

                {% if valid_keys == false %}
                <div id="missingKeysAlert" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading">Missing console keys!</h4>
                    Console keys are required to decrypt any Nintendo content, including
                    backups. Ownfoil uses this to identify files, regardless of the filename.</br>
                    <strong>Titles will be missed or misidentified if you don't fill in your keys!</strong>
                    See <a target="_blank" href="https://gitlab.com/easyhacking/switch/-/wikis/home/getting-started/dump-keys" class="alert-link">this guide</a> on
                    how to extract the
                    keys from your console, and upload them <a href="/settings#consoleKeysInput" class="alert-link">here
                        in Ownfoil.</a>
                    <hr>
                    If keys are missing, all files <strong>must follow the format "Title Name
                        [TITLEID][vVERSION]"</strong>, else the file won't be recognized.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}

                <div id="missingShopHostAlert" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
                    <h4 class="alert-heading">Missing shop Host!</h4>
                    Host verification from outside the local network is disabled if the shop <code>Host</code> is
                    missing, configure it <a href="/settings#shopHostInput" class="alert-link">here
                        in Ownfoil</a> to prevent someone else stealing from your shop.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div id="missingShopHauthAlert" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
                    <h4 class="alert-heading">Missing shop Hauth!</h4>
                    <a href="https://blawar.github.io/tinfoil/network/#host-signature" class="alert-link"
                        target="_blank">Host signature</a> verification from outside the local network is disabled if
                    the shop <code>Hauth</code> is missing. Connect to the shop from Tinfoil with an admin account to
                    set it.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <h2 id="Authentication" class="pb-3">Authentication</h2>

                <table class="table table-hover caption-top" id="userTable">
                    <caption>List of users:</caption>
                    <thead>
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col">Permissions</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <p class="d-inline-flex gap-1">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseNewUser" aria-expanded="false" aria-controls="collapseNewUser">
                        Add new user
                    </button>
                </p>
                <div class="collapse" id="collapseNewUser">
                    <div class="card card-body">
                        <label class="form-label">Add a new user:</label>
                        <form class="row g-3">
                            <div class="col-auto">
                                <label for="inputNewUser" class="visually-hidden">Email</label>
                                <input type="text" class="form-control" id="inputNewUser" placeholder="Username">
                            </div>
                            <div class="col-auto">
                                <label for="inputNewUserPassword" class="visually-hidden">Password</label>
                                <input type="password" class="form-control" id="inputNewUserPassword"
                                    placeholder="Password">
                            </div>
                            <div class="col-auto p-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="checkboxNewUserShopAccess"
                                        checked>
                                    <label class="form-check-label" for="checkboxNewUserShopAccess">Shop Access</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="checkboxNewUserBackupAccess">
                                    <label class="form-check-label" for="checkboxNewUserBackupAccess">Backup
                                        Access</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="checkboxNewUserAdminAccess">
                                    <label class="form-check-label" for="checkboxNewUserAdminAccess">Admin
                                        Access</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary mb-3"
                                    onClick='submitNewUser()'>Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Delete User Modal -->
                <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteUserModalLabel">Delete user</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <h2 class="pb-3">Library</h2>

                <label class="form-label">Library paths:</label>
                <div id="libraryPathHelp" class="form-text">Path of directory containing your games.</div>
                <table class="table table-hover caption-top" id="pathsTable">
                    <thead>
                        <tr>
                            <th scope="col">Path</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <!-- Library buttons -->
                <div class="row g-3">
                    <div class="col-auto">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseNewPath" aria-expanded="false" aria-controls="collapseNewPath">
                            Add library path
                        </button>
                    </div>

                    <div class="col-auto">
                        <button type="button" class="btn btn-primary mb-3 scanBtn" onClick='scanLibrary()'>Scan
                            library</button>
                    </div>
                </div>

                <div class="collapse" id="collapseNewPath">
                    <div class="card card-body">
                        <label class="form-label">Add a new directory:</label>
                        <div class="row g-3">
                            <div class="col-6">
                                <input type="text" class="form-control" id="libraryPathInput" placeholder="Path">
                            </div>
                            <div class="col-auto">
                                <button type="button" id="submitNewLibraryPathBtn" class="btn btn-primary mb-3"
                                    onClick='submitNewLibraryPath()'>Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Delete User Modal -->
                <div class="modal fade" id="deletePathModal" tabindex="-1" aria-labelledby="deletePathModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deletePathModalLabel">Delete library path</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <h2 class="pb-3">Titles</h2>
                <p>Titles identification configuration.</p>
                <div class="row mb-3">
                    <div class="col">
                        <label for="selectRegion" class="form-label">Library Region:</label>
                        <select id="selectRegion" class="form-select" aria-label="Select library region">
                        </select>
                    </div>
                    <div class="col">
                        <label for="selectLanguage" class="form-label">Library Language:</label>
                        <select id="selectLanguage" class="form-select" aria-label="Select library language">
                        </select>
                    </div>
                    <div id="selectRegionLanguageHelp" class="form-text">Region and Language used to get games
                        informations.</div>
                </div>

                <div class="mb-3">
                    <label for="consoleKeysInput" class="form-label">Console keys:</label>
                    <input class="form-control {% if valid_keys == true %}is-valid d-none{% endif %}" type="file"
                        accept=".keys,.txt" id="consoleKeysInput">
                    <div class="valid-feedback">
                        Keys are valid!
                    </div>
                    <div id="invalidConsoleKeysFeedback" class="invalid-feedback">
                        Invalid keys file!
                    </div>
                    <div id="consoleKeysHelp" class="form-text">Console keys are required to decrypt any Nintendo
                        content, including
                        backups. Ownfoil uses this to identify files, regardless of the filename.
                    </div>
                </div>

                <div class="mb-3">
                    <button type="button" id="submitTitlesSettingsBtn" class="btn btn-primary"
                        onClick='submitTitlesSettings()'>Submit</button>
                </div>
                </form>
                <hr>

                <h2 class="pb-3">Shop</h2>
                <!-- Shop URL -->
                <div class="mb-3">
                    <label for="shopHostInput" class="form-label">Shop URL:</label>
                    <input class="form-control" id="shopHostInput" aria-describedby="shopHostHelp"
                        placeholder="shop.domain.tld">
                    <div id="shopHostHelp" class="form-text">Configure your shop URL to enable host verification.<br>
                        Host verification from Tinfoil requests will be enforced if the shop is accessed securely (with
                        <code>https</code>), make sure your reverse proxy <strong>does NOT</strong> allow insecure
                        connections (or upgrades them to use SSL) and correctly sets the <code>X-Forwarded-Proto</code>
                        header.
                    </div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="publicShopCheck"
                        aria-describedby="publicShopCheckHelp">
                    <label class="form-check-label" for="publicShopCheck">Public shop</label>
                    <div id="publicShopCheckHelp" class="form-text">If enabled, Shop access from Tinfoil does not
                        require authentication.
                    </div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="encryptShopCheck"
                        aria-describedby="encryptShopCheckHelp">
                    <label class="form-check-label" for="encryptShopCheck">Encrypt shop</label>
                    <div id="encryptShopCheckHelp" class="form-text">Serve encrypted and compressed shop, so that only Tinfoil clients
                        can access the content. <strong>Strongly suggested to enable it for security</strong>.</div>
                </div>

                <div class="mb-3">
                    <label for="motdTextArea" class="form-label">Message of the day:</label>
                    <textarea class="form-control" id="motdTextArea" rows="3"></textarea>
                    <div id="motdTextAreaHelp" class="form-text">Message presented when opening Tinfoil after
                        successfully loading your shop.</div>
                </div>

                <div class="mb-3">
                    <button type="button" id="submitShopSettingsBtn" class="btn btn-primary"
                        onClick='submitShopSettings()'>Submit</button>
                </div>

            </div>
        </div>
    </div>
</div>

<script>

    settings_map = {
        'library/path': 'libraryPathInput'
    };


    // allUsers = [];

    function getInputVal(inputId) {
        return $("#" + inputId).val();
    };

    function setInputVal(inputId, value) {
        return $("#" + inputId).val(value);
    };

    function getCheckboxStatus(checkboxId) {
        return $('#' + checkboxId).is(":checked")
    }

    function scanLibrary(path = null) {
        $('.scanBtn').prop('disabled', true);
        data = {
            path: path
        }
        $.ajax({
            url: '/api/library/scan',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (result) {
                if (result['success']) {
                    if (result['status_code'] == '302') {
                        window.location.href = result['location']
                        return
                    }
                    console.log('Scan Success!');
                }
                $('.scanBtn').prop('disabled', false);
            }
        });

    }

    function fillLibraryTable() {
        $('#pathsTable tbody').empty();

        $.getJSON("/api/settings/library/paths", function (result) {

            if (!result['success']) {
                if (result['status_code'] == '302') {
                    window.location.href = result['location']
                    return
                }
            }
            paths = result.paths;
            if (paths === null || !paths.length) {
                $('#pathsTable tbody').append(
                    '<tr><td>-</td><td>-</td><td>');
            } else {
                paths.forEach(path => {
                    $('#pathsTable tbody').append(
                        '<tr><td>' + path + '</td>'
                        + '<td>' +
                        '<button type="button" class="btn btn-outline-info btn-sm scanBtn" onclick=\'scanLibrary("' + path + '");\' ><i class="bi bi-arrow-clockwise"></i></button> ' +
                        '<button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deletePathModal" data-bs-path="' + path + '"\'><i class="bi bi-x-circle"></i></button>' +
                        '</td></tr>');
                })
            }
        });

    }

    function fillUserTable() {
        $('#userTable tbody').empty();
        $.getJSON("/api/users", function (result) {
            if (!result['success']) {
                if (result['status_code'] == '302') {
                    window.location.href = result['location']
                    return
                }
            }
            allUsers = result;
            allUsernames = [];
            if (!result.length) {
                $('#userTable tbody').append(
                    '<tr><td>-</td><td>-</td><td>-</td></tr>');
            }
            result.forEach(user => {
                allUsernames.push(user['user']);
                base_input = '<input class="form-check-input" type="checkbox" onclick="return false" checked>';
                shop_input = base_input;
                backup_input = base_input;
                admin_input = base_input;
                if (!user['shop_access']) {
                    shop_input = shop_input.replace(' checked', '');
                }
                if (!user['backup_access']) {
                    backup_input = backup_input.replace(' checked', '');
                }
                if (!user['admin_access']) {
                    admin_input = shop_input.replace(' checked', '');
                }
                $('#userTable tbody').append(
                    '<tr><td>' + user['user'] + '</td><td>'
                    + `
                        <div class="form-check form-check-inline">`
                    + shop_input + `
                            <label class="form-check-label">Shop</label>
                        </div>
                        <div class="form-check form-check-inline">`
                    + backup_input + `
                            <label class="form-check-label">Backup</label>
                        </div>
                        <div class="form-check form-check-inline">`
                    + admin_input + `
                            <label class="form-check-label">Admin</label>
                        </div>`
                    + '</td><td>' +
                    '<button type="button" class="btn btn-outline-info btn-sm" disabled=""><i class="bi bi-pencil-square"></i></button> ' +
                    '<button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteUserModal" data-bs-id="' + user['id'] + '" data-bs-user="' + user['user'] + '"\'><i class="bi bi-x-circle"></i></button>' +
                    '</td></tr>');
            });
        })

    }

    const deletePathModal = $('#deletePathModal')
    if (deletePathModal) {
        deletePathModal.on('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const path = button.getAttribute('data-bs-path')
            // If necessary, you could initiate an Ajax request here
            // and then do the updating in a callback.

            // Update the modal's content.
            // const modalTitle = deletePathModal.querySelector('.modal-title')
            const modalBody = deletePathModal.find('.modal-body')
            const deleteBtn = deletePathModal.find('.btn-danger')


            deleteBtn.attr('onClick', 'deleteLibraryPath("' + path + '");');

            // modalTitle.textContent = `New message to ${recipient}`
            modalBody.text("Delete path " + path + " ?")
        })
    }

    const deleteUserModal = $('#deleteUserModal')
    if (deleteUserModal) {
        deleteUserModal.on('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const user = button.getAttribute('data-bs-user')
            const id = button.getAttribute('data-bs-id')
            // If necessary, you could initiate an Ajax request here
            // and then do the updating in a callback.

            // Update the modal's content.
            // const modalTitle = deleteUserModal.querySelector('.modal-title')
            const modalBody = deleteUserModal.find('.modal-body')
            const deleteBtn = deleteUserModal.find('.btn-danger')


            deleteBtn.attr('onClick', 'deleteUser(' + id + ');');

            // modalTitle.textContent = `New message to ${recipient}`
            modalBody.text("Delete user " + user + " ?")
        })
    }

    function deleteUser(userId) {
        data = {
            user_id: userId
        }
        $.ajax({
            url: "/api/user",
            type: 'DELETE',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (result) {
                if (result['success']) {
                    fillUserTable();
                }
            }
        });
    }

    function deleteLibraryPath(path) {
        data = {
            path: path
        }
        $.ajax({
            url: "/api/settings/library/paths",
            type: 'DELETE',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (result) {
                if (result['success']) {
                    fillLibraryTable();
                }
            }
        });
    }

    $('#checkboxNewUserAdminAccess').change(function () {
        if (this.checked != false) {
            $('#checkboxNewUserShopAccess').prop('checked', true).attr("disabled", true);
            $('#checkboxNewUserBackupAccess').prop('checked', true).attr("disabled", true);

        } else {
            $('#checkboxNewUserShopAccess').attr("disabled", false);
            $('#checkboxNewUserBackupAccess').attr("disabled", false);

        }
    });

    function submitNewUser() {
        formOk = true;
        user = getInputVal("inputNewUser")
        password = getInputVal("inputNewUserPassword")
        shop_access = getCheckboxStatus("checkboxNewUserShopAccess")
        backup_access = getCheckboxStatus("checkboxNewUserBackupAccess")
        admin_access = getCheckboxStatus("checkboxNewUserAdminAccess")

        if (user == '') {
            $('#inputNewUser').addClass('is-invalid');
            formOk = false;
        } else if (allUsernames.includes(user)) {
            $('#inputNewUser').addClass('is-invalid');
            formOk = false;
        } else {
            $('#inputNewUser').removeClass('is-invalid');
        }

        if (password == '') {
            $('#inputNewUserPassword').addClass('is-invalid');
            formOk = false;
        } else {
            $('#inputNewUserPassword').removeClass('is-invalid');
        }


        if (formOk) {
            data = {
                user: user,
                password: password,
                shop_access: shop_access,
                backup_access: backup_access,
                admin_access: admin_access,
            }

            $.ajax({
                url: "/api/user/signup",
                type: 'POST',
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (result) {
                    if (result['success']) {
                        if (result['status_code'] == '302') {
                            window.location.href = result['location']
                            return
                        }
                        console.log('Signup Success!');
                        setInputVal("inputNewUser", "")
                        setInputVal("inputNewUserPassword", "")
                        fillUserTable();
                    }
                }
            });
        }
    }

    function submitNewLibraryPath() {
        $('#submitNewLibraryPathBtn').prop('disabled', true);
        path = getInputVal("libraryPathInput").trim();
        data = {
            path: path
        }

        $.ajax({
            url: "/api/settings/library/paths",
            type: 'POST',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (result) {
                if (result['success']) {
                    if (result['status_code'] == '302') {
                        window.location.href = result['location']
                        return
                    }
                    console.log('Sucessfully added path ' + path);
                    setInputVal("libraryPathInput", "")
                    fillLibraryTable();
                } else {
                    console.log('Error adding path ' + path);
                }
                $('#submitNewLibraryPathBtn').prop('disabled', false);
            }
        });
    }

    function submitTitlesSettings() {
        $('#submitTitlesSettingsBtn').prop('disabled', true);
        data = {
            region: getInputVal("selectRegion"),
            language: getInputVal("selectLanguage"),
        }
        file = $('#consoleKeysInput').prop('files')[0];

        if (file != undefined) {
            formData = new FormData();
            formData.append("file", file);
            $.ajax({
                url: "/api/upload",
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result['success']) {
                        $('#consoleKeysInput').removeClass('is-invalid');
                        $('#consoleKeysInput').addClass('is-valid');
                        $('#missingKeysAlert').addClass('d-none');
                    } else {
                        $('#invalidConsoleKeysFeedback').text("Invalid keys file! Invalid keys detected: " + result['errors'].join(', '));
                        $('#consoleKeysInput').addClass('is-invalid');
                    }
                }
            });
        }

        $.ajax({
            url: "/api/settings/titles",
            type: 'POST',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (result) {
                if (!result['success']) {
                    console.log('Not Success!');
                    result['errors'].forEach(error => {
                        path = error['path'];
                        formId = settings_map[path];
                        form = $('#' + formId);
                        form.addClass('is-invalid');
                        formTextElement = form.attr('aria-describedby');
                        $("#" + formTextElement).addClass('invalid-feedback');
                        $("#" + formTextElement).text(error['error']);
                    });
                }
                $('#submitTitlesSettingsBtn').prop('disabled', false);
            }
        });
    }

    function submitShopSettings() {
        $('#submitShopSettingsBtn').prop('disabled', true);
        data = {
            host: $('#shopHostInput').val(),
            public: getCheckboxStatus("publicShopCheck"),
            encrypt: getCheckboxStatus("encryptShopCheck"),
            motd: $('#motdTextArea').val(),
        }

        $.ajax({
            url: "/api/settings/shop",
            type: 'POST',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (result) {
                if (!result['success']) {
                    console.log('Not Success!');
                    result['errors'].forEach(error => {
                        path = error['path'];
                        formId = settings_map[path];
                        form = $('#' + formId);
                        form.addClass('is-invalid');
                        formTextElement = form.attr('aria-describedby');
                        $("#" + formTextElement).addClass('invalid-feedback');
                        $("#" + formTextElement).text(error['error']);
                    });
                }
                $('#submitShopSettingsBtn').prop('disabled', false);
            }
        });
    }

    $(document).ready(function () {
        fillUserTable();
        fillLibraryTable();

        $.getJSON("/api/settings", function (result) {
            Object.keys(languages).forEach(function (key) {
                $('#selectRegion').append(`<option value="${key}">${key}</option>`);
            });

            $('#selectRegion').on('change', function () {
                $('#selectLanguage').empty()
                region = $(this).find(":selected").val();
                availableLanguages = languages[region];
                availableLanguages.forEach(function (key) {
                    $('#selectLanguage').append(`<option value="${key}">${key}</option>`);
                });
            });


            // Library settings
            librarySettings = result['library'];
            // Titles settings
            titlesSettings = result['titles'];

            // Fill region and language
            setInputVal("selectRegion", titlesSettings['region']);
            $('#selectRegion').trigger('change');
            setInputVal("selectLanguage", titlesSettings['language']);

            // Shop settings
            shopSettings = result['shop'];
            setInputVal("shopHostInput", shopSettings['host']);
            setInputVal("motdTextArea", shopSettings['motd']);
            $("#publicShopCheck").prop("checked", shopSettings['public']);
            $("#encryptShopCheck").prop("checked", shopSettings['encrypt']);
            if (!shopSettings['host']) {
                $("#missingShopHostAlert").css('display', '');
            } else if (!shopSettings['hauth']) {
                $("#missingShopHauthAlert").css('display', '');
            }
        });

    });
    {% if admin_account_created == false %}
    $('#checkboxNewUserAdminAccess').prop('checked', true).attr("disabled", true);
    $('#checkboxNewUserShopAccess').prop('checked', true).attr("disabled", true);
    $('#checkboxNewUserBackupAccess').prop('checked', true).attr("disabled", true);
    {% endif %}
    languages = {{ languages_from_titledb | tojson | safe }}
</script>

{% endblock %}